@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

:root {
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: rgba(242, 242, 242, 1);
  --body-color: hsl(var(--hue), var(--sat), 96%);
  --container-color: #fff;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}
